@model List<bitirmeMVC5.Models.Randevular>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randevu İptal Sayfası</title>
    <link rel="stylesheet" href="~/css/randevu_iptal.css">
    <link rel="stylesheet" href="~/css/header.css">
</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="index.html">meditech</a>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li><a href="index.html">Anasayfa</a></li>
                    <li><a href="contact.html">Giriş Yap</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <h1>Randevu İptal Sayfası</h1>
    <div class="container" id="randevular">
        <div class="randevu__content" id="randevular">
            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tam Ad</th>
                            <th>TC Kimlik No</th>
                            <th>Eposta</th>
                            <th>Telefon No</th>
                            <th>Randevu Tarihi</th>
                            <th>Randevu Saati</th>
                            <th>Poliklinik</th>
                            <th>Doktor</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var randevu in Model)
                        {
                            <tr>
                                <td>@randevu.TamAd</td>
                                <td>@randevu.TcKimlikNo</td>
                                <td>@randevu.Eposta</td>
                                <td>@randevu.TelefonNo</td>
                                <td>@randevu.RandevuTarihi.ToShortDateString()</td>
                                <td>@randevu.RandevuSaati.ToString()</td>
                                <td>@randevu.Poliklinik</td>
                                <td>@randevu.DoktorTamAd</td>
                                <td>
                                    <a href="#" class="btn btn-danger" onclick="return confirm('Bu randevuyu iptal etmek istediğinize emin misiniz?')">İptal Et</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>Henüz bir randevunuz yok.</p>
            }
        </div>
    </div>

    @* <script src="~/js/randevu_iptal.js"></script> *@
</body>

</html>




